<%= render "layouts/navbar" %>


<ul class="large-block-grid-6 margin center">
  <li>My Friend<br><%= image_tag("smiling.jpeg", size: "150x75") %></li>
  <li>My Friend<br><%= image_tag("smiling.jpeg", size: "150x75") %></li>
  <li>My Friend<br><%= image_tag("smiling.jpeg", size: "150x75") %></li>
  <li>My Friend<br><%= image_tag("smiling.jpeg", size: "150x75") %></li>
  <li>My Friend<br><%= image_tag("smiling.jpeg", size: "150x75") %></li>
  <li>My Friend<br><%= image_tag("smiling.jpeg", size: "150x75") %></li>
</ul>