<%= render "layouts/navbar" %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row white">
  <div class="large-5 columns border">
    <h2 class="center">User Profile</h2>
    <%= image_tag('smiling.jpeg', size: "200x100", :class=> "imgcenter") %>
    <br>
    <br>
    <br>
  </div>
  <div class="large-7 columns white">
    <h2>
      Goal Weight: 165lbs
    </h2>
    <h2>
      Deadline: January 31st
    </h2>
  </div>
</div>
<br>
<br>
<br>
<div class="row white">
  <div class="large-2 columns">
   
    <h3><%= link_to "Friends", users_index_path %></h3>

  </div>
  <div class="large-10 columns border white">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2>User Daily Weigh in Goes here</h2>
    <h3><%= link_to "My Weigh Ins", user_weights_path(1) %></h3>
    <h1>Attention Collaborators</h1>
    <h4>I was thinking about using <%= link_to "disqus", href="http://disqus.com/" %> for the posts, that would save us a lot of work. Or I could do disqus and we could do the comments database and in the end we can see which one we like better.  What you think? my email is twasden@gmail.com</h4>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
  
</div>


