<%= render "layouts/navbar" %>
<div class="row">
  <div class="large-12 columns">
  </div> 
</div>
<div class="row">
  <div class="large-12 columns">
    <h3>old posts go here <%= link_to "date", user_weight_path(1,1) %> weight: ?lbs</h3>
  </div> 
</div>
<div class="row">
  <div class="large-12 columns">
    <h3>old posts go here <%= link_to "date", user_weight_path(1,1) %> weight: ?lbs</h3>
  </div> 
</div>
<div class="row">
  <div class="large-12 columns">
    <h3>old posts go here <%= link_to "date", user_weight_path(1,1) %> weight: ?lbs</h3>
  </div> 
</div>
<div class="row">
  <div class="large-12 columns">
    <h3>old posts go here <%= link_to "date", user_weight_path(1,1) %> weight: ?lbs</h3>
  </div> 
</div>
<div class="row">
  <div class="large-12 columns">
    <h3>old posts go here <%= link_to "date", user_weight_path(1,1) %> weight: ?lbs</h3>
  </div> 
</div><div class="row">
  <div class="large-12 columns">
    <h3>old posts go here <%= link_to "date", user_weight_path(1,1) %> weight: ?lbs</h3>
  </div> 
</div><div class="row">
  <div class="large-12 columns">
    <h3>old posts go here <%= link_to "date", user_weight_path(1,1) %> weight: ?lbs</h3>
  </div> 
</div><div class="row">
  <div class="large-12 columns">
    <h3>old posts go here <%= link_to "date", user_weight_path(1,1) %> weight: ?lbs</h3>
  </div> 
</div>